body {
  font-family: 'Spectral SC', serif;
}

header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: center;
  margin-bottom: 10vh;
  background: #b53f3f;
  color: #fff;
  height: 10vh;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5em;
  margin: 0 auto;
  padding: 0;
  width: 50vw;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
 
  height: auto;
  width: auto;
}

ul.weekdays {
  height: 3vw;
  margin-bottom: 2vh;
}

ul.day-grid {
  height: 65vh;
}

ul.day-grid li {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
}

ul.day-grid li:hover {
  background-color: #d4b1b1;
}

ul.weekdays abbr[title] {
  border: none;
  font-weight: 800;
  text-decoration: none;
}

/* 
ul.day-grid li:nth-child(1),
ul.day-grid li:nth-child(2),
ul.day-grid li:nth-child(3),
ul.day-grid li:nth-child(34),
ul.day-grid li:nth-child(35) {
  background-color: #fff;
} 
*/

@media all and (max-width: 800px) {
  ul {
    grid-gap: .25em;
    width: 80vw; 
  }

  ul.weekdays li {
    font-size: 0;
  }

  ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    }

    ul.day-grid {
      height: 35vh;
    }
}

/* Styling for Previous and Next arrows */

.prev-next-button {
  position: absolute;
  top: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: white;
  
}

.previous { left: 10px; }
.next { right: 10px; }

.prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}


.arrow { fill: #333; }
